

<h2 class="container mt-4">Todas las actividades</h2>

  <div class="container mt-4 card">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Url media</th>
          <th>Hora Recomendada</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí iterar sobre tus actividades y mostrar cada fila -->
        <tr *ngFor="let actividad of actividades">
          <td>{{ actividad.idActividad }}</td>
          <td>{{ actividad.nombre }}</td>
          <td>{{ actividad.descripcion }}</td>
          <td>{{ actividad.url }}</td>
          <td>{{ actividad.hora }}</td>
          <td>
            <button class="btn btn-primary">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="container mt-4">Agregar una nueva actividad</h2>

  <div class="container mt-3 p-4 card">
    <form [formGroup]="actividadForm" (ngSubmit)="crearActividad()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea class="form-control" id="descripcion" formControlName="descripcion"></textarea>
        </div>
        <div class="form-group">
          <label for="hora">Hora:</label>
          <input type="text" class="form-control" id="hora" formControlName="hora">
        </div>
        <div class="form-group">
          <label for="url">URL:</label>
          <input type="text" class="form-control" id="url" formControlName="url">
        </div>
        <button type="submit" class="btn btn-primary">Agregar actividad</button>
      </form>
  </div>
 
