<div></div>
<h2 class="container mt-4">Todas las actividades</h2>

  <div class="container mt-4 card">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Url media</th>
          <th>Hora Recomendada</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí iterar sobre tus actividades y mostrar cada fila -->
        <tr *ngFor="let actividad of actividades">
          <td>{{ actividad.idActividad }}</td>
          <td>{{ actividad.nombre }}</td>
          <td>{{ actividad.descripcion }}</td>
          <td>{{ actividad.tipoActividad }}</td>
          <td>{{ actividad.url }}</td>
          <td>{{ actividad.hora }}</td>
          <td>
            <button class="btn btn-primary">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="container mt-4">Agregar una nueva actividad</h2>

  <app-actividades-agregar></app-actividades-agregar>
  
 
