<div class="container mt-3 p-4 card">
    <form [formGroup]="actividadForm" (ngSubmit)="crearActividad()">

      <label for="tipoActividad">Selecciona un tipo de actividad:</label>
        <select class="form-select" aria-label="Selecciona" formControlName="tipoActividad">
            <option *ngFor="let tipo of tipos" [value]="tipo.nombre">{{ tipo.nombre }}</option>
        </select>

        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input placeholder="Nombre" type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea placeholder="Detalles de la actividad" class="form-control" id="descripcion" formControlName="descripcion"></textarea>
        </div>
        <div class="form-group">
          <label for="hora">Hora:</label>
          <input placeholder="hora o veces recomendadas" type="text" class="form-control" id="hora" formControlName="hora">
        </div>

        <div class="form-group">
          <label for="url">URL:</label>
          <input type="text" class="form-control" id="url" formControlName="url">
        </div>

        <button type="submit" class="btn btn-primary">Agregar actividad</button>
      </form>
  </div>
