#sidebar {
    width: 100%;
    height: 100%;
  border-right: 1px solid #ccc;

  .menu{
    display: flex;
    flex-direction: column;
    padding-top: 4em;

    a{
      text-decoration: none;
      color: black;
      border-bottom: 1px solid #CCC;
      padding: 1em;
      &:hover{
        background-color: #eee;
      }

      
    }
    
  }

  }