<section >
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-4">

          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{paciente?.nombre}}</h5>
              <p class="text-muted mb-1">Identificacion: {{paciente?.idPaciente}}</p>
              <p class="text-muted mb-4">Medellin</p>
              <div class="d-flex justify-content-center mb-2">
              </div>
            </div>
          </div>

          <div class="">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4"><span class="text-primary font-italic me-1">Actividades</span> Todas
                </p>
                 
                <div *ngFor="let item of actividadesPaciente">
                  <p>{{item.nombre}}</p>
              </div>
              </div>
              <button [routerLink]="['/paciente/actividades',pacienteId]" class="btn">Editar lista de actividades</button>
            </div>
          </div>

         

        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nombre Completo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{paciente?.nombre}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Correo electronico</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">example  example.com</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Teléfono</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(097) 234-5678</p>
                </div>
              </div>
              <hr>
           
              
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Dirección</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Calle 23 surn o 43-72, Olivos </p>
                </div>
              </div>
            </div>
            
          </div>


          
          <div class="row">
            <div class="">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Registros del paciente para:</span> {{fechaSelected}}</p>
                  <div>
                    <p>Ingrese lla fecha en formato AAAA-mm-dd</p>
                    <div class="d-flex align-items-center mb-3">
                        <input type="number" class="form-control me-2" placeholder="Año" min="1900" max="9999">
                        <input type="number" class="form-control me-2" placeholder="Mes" min="1" max="12">
                        <input type="number" class="form-control me-2" placeholder="Día" min="1" max="31">
                        <button class="btn btn-primary" (click)="filtrar()">Filtrar</button>
                    </div>

                    <div >
                      <app-registro *ngFor="let registro of registros" [registro]="registro"></app-registro>
                    </div>
                   
                    
                  </div>
                </div>
              </div>
            </div>
            
           

          </div>
        </div>
      </div>
    </div>
  </section>

  