#header{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 0px 4px 4px #ccc;

    #logo{

      display: flex;
      gap: 20px;
      font-size: 24px;
      font-weight: bold;
      align-items: center;
      
      svg{
        cursor: pointer;
      }
    }

    #menu{
      display: flex;
      gap:20px;
      a{
        text-decoration: none;
        color: 16px;
        &:hover{
          color: dodgerblue;

        }
      }
    }
  }