
<div class="container d-flex flex-column pacientes">

  <h1 class="fs-1 ">Pacientes VIDA</h1>

  <app-paciente-agregar></app-paciente-agregar>
  

  <div>
    

    <div class="d-flex flex-row gap-3">
      <input class="form-control" type="text" placeholder="Identificación..." [(ngModel)]="identificacion">
      <button class="btn btn-primary" (click)="buscarPorIdentificacion()">Buscar por Identificación</button>
    </div>

    <h2>Información de los pacientes</h2>

  </div>
    <div class="mt-4 card">
        <table class="table">
          <thead>
            <tr>
              <th>Identificación
                <button class="btn" (click)="toggleFiltrarId()">{{ idAscendente ? '↓' : '↑' }}</button>
              </th>
              <th>Nombre 
                <button class="btn" (click)="toggleFiltrarNombre()">{{ nombreAscendente ? '↓' : '↑' }}</button>
              </th>
              <th>Edad</th>
              <th>Ingreso</th>
              <th>Ver</th>  
              <th>Eliminar</th>
            </tr>
          </thead>

          <tbody>
            <!-- Puedes agregar filas con datos aquí -->

            <tr *ngFor="let paciente of pacientesLista">
              <td>{{ paciente.idPaciente }}</td>
              <td>{{ paciente.nombre }}</td>
              <td>{{ paciente.edad }}</td>
              <td>Viernes 23 de enero 2024</td> 
              <td><button class="btn btn-info" [routerLink]="['/paciente', paciente.idPaciente]" >Ver</button></td>
              <td><button class="btn btn-danger" (click)="eliminarPaciente(paciente.idPaciente, paciente.nombre)">Eliminar</button></td>
            </tr>
            
            <!-- Puedes agregar más filas según sea necesario -->
          </tbody>

        </table>
      </div>

</div>
